body {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    justify-content: center;
    align-items: center;
    color: white;
}

* {
    box-sizing: border-box;
}

#loginContainer {
    background-image: url(./images/anirudh-Xu4Pz7GI9JY-unsplash.jpg);
    background-color: black;
    background-size: cover;
    width: clamp(500px, 50vw, 1000px);
    height: 700px;
    position: relative;    
}

#logoBar {
    background: rgba( 255, 255, 255, 0.25 );
    height: 10%;
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: row;
}

#logo {
    position: relative;
    height: clamp(32px, 48px, 72px);
    width: clamp(32px, 48px, 72px);
    top: 10px;
    left: 10px;
    margin-right: 24px;
}

@font-face {
    font-family: headline-font;
    src: url(./font/Norse-Bold.otf);
  }
  
  h1 {
    font-family: headline-font, sans-serif;
  }

#formContainer {
    position: relative;
    left: 12.5%;
    top: 4.5rem;
    width: clamp(350px,75%, 700px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    font-size: 1.2rem;
}

fieldset {
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
}

legend {
    text-align: left;
}

#formElements {

}

ul {
    list-style: none;
    text-align: left;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.leftColumn, .rightColumn {
    margin-left: 1rem;
    margin-right: 1rem;
}

.elementRow {
    margin-top: 2rem;   
}

label {
    min-width: 5rem;
    text-align: left;
}
button {
    font-size: 1.25rem;
    color: white;
    background-color: blue;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
}

input {
    font: 1rem sans-serif;
    width: 15rem;
    box-sizing: border-box;
}

input:required {
    border-color: #000;
}

input:optional {
    border-color: gray;
}

input:focus {
    border: 1px solid blue;
    background-color: rgb(247, 237, 250);
}

input:hover {
    border: 2.5px solid blue;
}

input:focus:valid {
    background: url(./assets/valid.svg) no-repeat 95% 50% lightgreen;
    background-size: 20px;
}

input:focus:invalid {
    background: url(./assets/invalid.svg) no-repeat 95% 50% lightsalmon;
    background-size: 20px;
}


#photoCredit {
    font-size: 0.8rem;
    margin-top: 2rem;
    font-weight: bold;
}

a {
    color: blue;
}

